# See https://help.github.com/articles/about-codeowners/
# for more info about CODEOWNERS file

# It uses the same pattern rule for gitignore file
# https://git-scm.com/docs/gitignore#_pattern_format

# GitHub
.github/**                    @George-Codr @Aasyaco @Ansyso @plfj

# pre-commit
.pre-commit-config.yaml       @George-Codr @Aasyaco @Ansyso @plfj
.ruff.toml                    @George-Codr @Aasyaco @Ansyso @plfj

# Build system
configure*                    @George-Codr @Aasyaco @Ansyso @plfj

# asyncio
**/*asyncio*                  @George-Codr @Aasyaco @Ansyso @plfj

# Core
**/*context*                  @George-Codr @Aasyaco @Ansyso @plfj
**/*genobject*                @George-Codr @Aasyaco @Ansyso @plfj
**/*hamt*                     @George-Codr @Aasyaco @Ansyso @plfj
**/*jit*                      @George-Codr @Aasyaco @Ansyso @plfj
Python/perf_jit_trampoline.c  @George-Codr @Aasyaco @Ansyso @plfj
Objects/set*                  @George-Codr @Aasyaco @Ansyso @plfj
Objects/dict*                 @George-Codr @Aasyaco @Ansyso @plfj
Objects/typevarobject.c       @George-Codr @Aasyaco @Ansyso @plfj
Objects/type*                 @George-Codr @Aasyaco @Ansyso @plfj
Objects/codeobject.c          @George-Codr @Aasyaco @Ansyso @plfj
Objects/frameobject.c         @George-Codr @Aasyaco @Ansyso @plfj
Objects/call.c                @George-Codr @Aasyaco @Ansyso @plfj
Python/ceval*.c               @George-Codr @Aasyaco @Ansyso @plfj
Python/ceval*.h               @George-Codr @Aasyaco @Ansyso @plfj
Python/compile.c              @George-Codr @Aasyaco @Ansyso @plfj
Python/assemble.c             @George-Codr @Aasyaco @Ansyso @plfj
Python/flowgraph.c            @George-Codr @Aasyaco @Ansyso @plfj
Python/ast_opt.c              @George-Codr @Aasyaco @Ansyso @plfj
Python/bytecodes.c            @George-Codr @Aasyaco @Ansyso @plfj
Python/optimizer*.c           @George-Codr @Aasyaco @Ansyso @plfj
Python/optimizer_analysis.c   @George-Codr @Aasyaco @Ansyso @plfj
Python/optimizer_bytecodes.c  @George-Codr @Aasyaco @Ansyso @plfj
Lib/test/test_patma.py        @George-Codr @Aasyaco @Ansyso @plfj
Lib/test/test_type_*.py       @George-Codr @Aasyaco @Ansyso @plfj
Lib/test/test_capi/test_misc.py  @George-Codr @Aasyaco @Ansyso @plfj
Tools/c-analyzer/             @George-Codr @Aasyaco @Ansyso @plfj

# dbm
**/*dbm*                      @George-Codr @Aasyaco @Ansyso @plfj

# runtime state/lifecycle
**/*pylifecycle*              @George-Codr @Aasyaco @Ansyso @plfj
**/*pystate*                  @George-Codr @Aasyaco @Ansyso @plfj
**/*preconfig*                @George-Codr @Aasyaco @Ansyso @plfj
**/*initconfig*               @George-Codr @Aasyaco @Ansyso @plfj
**/*pathconfig*               @George-Codr @Aasyaco @Ansyso @plfj
**/*sysmodule*                @George-Codr @Aasyaco @Ansyso @plfj
**/*bltinmodule*              @George-Codr @Aasyaco @Ansyso @plfj
**/*gil*                      @George-Codr @Aasyaco @Ansyso @plfj
Include/internal/pycore_runtime.h   @George-Codr @Aasyaco @Ansyso @plfj
Include/internal/pycore_interp.h    @George-Codr @Aasyaco @Ansyso @plfj
Include/internal/pycore_tstate.h    @George-Codr @Aasyaco @Ansyso @plfj
Include/internal/pycore_*_state.h   @George-Codr @Aasyaco @Ansyso @plfj
Include/internal/pycore_*_init.h    @George-Codr @Aasyaco @Ansyso @plfj
Include/internal/pycore_atexit.h    @George-Codr @Aasyaco @Ansyso @plfj
Include/internal/pycore_freelist.h  @George-Codr @Aasyaco @Ansyso @plfj
Include/internal/pycore_global_objects.h  @George-Codr @Aasyaco @Ansyso @plfj
Include/internal/pycore_obmalloc.h  @George-Codr @Aasyaco @Ansyso @plfj
Include/internal/pycore_pymem.h     @George-Codr @Aasyaco @Ansyso @plfj
Modules/main.c                @George-Codr @Aasyaco @Ansyso @plfj
Programs/_bootstrap_python.c  @George-Codr @Aasyaco @Ansyso @plfj
Programs/python.c             @George-Codr @Aasyaco @Ansyso @plfj
Tools/build/generate_global_objects.py  @George-Codr @Aasyaco @Ansyso @plfj

# Exceptions
Lib/traceback.py              @George-Codr @Aasyaco @Ansyso @plfj
Lib/test/test_except*.py      @George-Codr @Aasyaco @Ansyso @plfj
Lib/test/test_traceback.py    @George-Codr @Aasyaco @Ansyso @plfj
Objects/exceptions.c          @George-Codr @Aasyaco @Ansyso @plfj
Python/traceback.c            @George-Codr @Aasyaco @Ansyso @plfj

# Hashing
**/*hashlib*                  @George-Codr @Aasyaco @Ansyso @plfj
**/*pyhash*                   @George-Codr @Aasyaco @Ansyso @plfj
**/sha*                       @George-Codr @Aasyaco @Ansyso @plfj
Modules/md5*                  @George-Codr @Aasyaco @Ansyso @plfj
**/*blake*                    @George-Codr @Aasyaco @Ansyso @plfj
Modules/_blake2/**            @George-Codr @Aasyaco @Ansyso @plfj
Modules/_hacl/**              @George-Codr @Aasyaco @Ansyso @plfj

# logging
**/*logging*                  @George-Codr @Aasyaco @Ansyso @plfj

# venv
**/*venv*                     @George-Codr @Aasyaco @Ansyso @plfj

# Launcher
/PC/launcher.c                @George-Codr @Aasyaco @Ansyso @plfj

# HTML
/Lib/html/                    @George-Codr @Aasyaco @Ansyso @plfj
/Lib/_markupbase.py           @George-Codr @Aasyaco @Ansyso @plfj
/Lib/test/test_html*.py       @George-Codr @Aasyaco @Ansyso @plfj
/Tools/build/parse_html5_entities.py   @George-Codr @Aasyaco @Ansyso @plfj

# Import (including importlib).
**/*import*                   @George-Codr @Aasyaco @Ansyso @plfj
/Python/import.c              @George-Codr @Aasyaco @Ansyso @plfj
Python/dynload_*.c            @George-Codr @Aasyaco @Ansyso @plfj
**/*freeze*                   @George-Codr @Aasyaco @Ansyso @plfj
**/*frozen*                   @George-Codr @Aasyaco @Ansyso @plfj
**/*modsupport*               @George-Codr @Aasyaco @Ansyso @plfj
**/*modulefinder*             @George-Codr @Aasyaco @Ansyso @plfj
**/*moduleobject*             @George-Codr @Aasyaco @Ansyso @plfj
**/*multiphase*               @George-Codr @Aasyaco @Ansyso @plfj
**/*pkgutil*                  @George-Codr @Aasyaco @Ansyso @plfj
**/*pythonrun*                @George-Codr @Aasyaco @Ansyso @plfj
**/*runpy*                    @George-Codr @Aasyaco @Ansyso @plfj
**/*singlephase*              @George-Codr @Aasyaco @Ansyso @plfj
Lib/test/test_module/         @George-Codr @Aasyaco @Ansyso @plfj
Doc/c-api/module.rst          @George-Codr @Aasyaco @Ansyso @plfj
**/*importlib/resources/*     @George-Codr @Aasyaco @Ansyso @plfj
**/*importlib/metadata/*      @George-Codr @Aasyaco @Ansyso @plfj

# Dates and times
**/*datetime*                 @George-Codr @Aasyaco @Ansyso @plfj
**/*str*time*                 @George-Codr @Aasyaco @Ansyso @plfj
Doc/library/time.rst          @George-Codr @Aasyaco @Ansyso @plfj
Lib/test/test_time.py         @George-Codr @Aasyaco @Ansyso @plfj
Modules/timemodule.c          @George-Codr @Aasyaco @Ansyso @plfj
Python/pytime.c               @George-Codr @Aasyaco @Ansyso @plfj
Include/internal/pycore_time.h  @George-Codr @Aasyaco @Ansyso @plfj

# Email and related
**/*mail*                     @George-Codr @Aasyaco @Ansyso @plfj
**/*smtp*                     @George-Codr @Aasyaco @Ansyso @plfj
**/*mime*                     @George-Codr @Aasyaco @Ansyso @plfj
**/*imap*                     @George-Codr @Aasyaco @Ansyso @plfj
**/*poplib*                   @George-Codr @Aasyaco @Ansyso @plfj

# Garbage collector
/Modules/gcmodule.c           @George-Codr @Aasyaco @Ansyso @plfj
/Doc/library/gc.rst           @George-Codr @Aasyaco @Ansyso @plfj

# Parser
/Parser/                      @George-Codr @Aasyaco @Ansyso @plfj
/Tools/peg_generator/         @George-Codr @Aasyaco @Ansyso @plfj
/Lib/test/test_peg_generator/ @George-Codr @Aasyaco @Ansyso @plfj
/Grammar/python.gram          @George-Codr @Aasyaco @Ansyso @plfj
/Lib/tokenize.py              @George-Codr @Aasyaco @Ansyso @plfj
/Lib/test/test_tokenize.py    @George-Codr @Aasyaco @Ansyso @plfj

# Code generator
/Tools/cases_generator/       @George-Codr @Aasyaco @Ansyso @plfj

# AST
Python/ast.c                  @George-Codr @Aasyaco @Ansyso @plfj
Parser/asdl.py                @George-Codr @Aasyaco @Ansyso @plfj
Parser/asdl_c.py              @George-Codr @Aasyaco @Ansyso @plfj
Lib/ast.py                    @George-Codr @Aasyaco @Ansyso @plfj

# Mock
/Lib/unittest/mock.py         @George-Codr @Aasyaco @Ansyso @plfj
/Lib/test/test_unittest/testmock/* @George-Codr @Aasyaco @Ansyso @plfj

# multiprocessing
**/*multiprocessing*          @George-Codr @Aasyaco @Ansyso @plfj

# SQLite 3
**/*sqlite*                   @George-Codr @Aasyaco @Ansyso @plfj

# subprocess
/Lib/subprocess.py            @George-Codr @Aasyaco @Ansyso @plfj
/Lib/test/test_subprocess.py  @George-Codr @Aasyaco @Ansyso @plfj
/Modules/*subprocess*         @George-Codr @Aasyaco @Ansyso @plfj

# Limited C API & stable ABI
Tools/build/stable_abi.py     @George-Codr @Aasyaco @Ansyso @plfj
Misc/stable_abi.toml          @George-Codr @Aasyaco @Ansyso @plfj
Doc/data/*.abi                @George-Codr @Aasyaco @Ansyso @plfj
Doc/c-api/stable.rst          @George-Codr @Aasyaco @Ansyso @plfj

# Windows
/PC/                          @George-Codr @Aasyaco @Ansyso @plfj
/PCbuild/                     @George-Codr @Aasyaco @Ansyso @plfj

# Urllib
**/*robotparser*              @George-Codr @Aasyaco @Ansyso @plfj

# Windows installer packages
/Tools/msi/                   @George-Codr @Aasyaco @Ansyso @plfj
/Tools/nuget/                 @George-Codr @Aasyaco @Ansyso @plfj

# Misc
**/*itertools*                @George-Codr @Aasyaco @Ansyso @plfj
**/*collections*              @George-Codr @Aasyaco @Ansyso @plfj
**/*random*                   @George-Codr @Aasyaco @Ansyso @plfj
**/*bisect*                   @George-Codr @Aasyaco @Ansyso @plfj
**/*heapq*                    @George-Codr @Aasyaco @Ansyso @plfj
**/*functools*                @George-Codr @Aasyaco @Ansyso @plfj
**/*decimal*                  @George-Codr @Aasyaco @Ansyso @plfj

**/*dataclasses*              @George-Codr @Aasyaco @Ansyso @plfj

**/*ensurepip*                @George-Codr @Aasyaco @Ansyso @plfj

**/*idlelib*                  @George-Codr @Aasyaco @Ansyso @plfj
/Doc/library/idle.rst         @George-Codr @Aasyaco @Ansyso @plfj

**/*typing*                   @George-Codr @Aasyaco @Ansyso @plfj

**/*ftplib                    @George-Codr @Aasyaco @Ansyso @plfj
**/*shutil                    @George-Codr @Aasyaco @Ansyso @plfj

**/*enum*                     @George-Codr @Aasyaco @Ansyso @plfj
**/*cgi*                      @George-Codr @Aasyaco @Ansyso @plfj
**/*tarfile*                  @George-Codr @Aasyaco @Ansyso @plfj

**/*tomllib*                  @George-Codr @Aasyaco @Ansyso @plfj

**/*sysconfig*                @George-Codr @Aasyaco @Ansyso @plfj

**/*cjkcodecs*                @George-Codr @Aasyaco @Ansyso @plfj

# macOS
/Mac/                         @George-Codr @Aasyaco @Ansyso @plfj
**/*osx_support*              @George-Codr @Aasyaco @Ansyso @plfj

# pathlib
**/*pathlib*                  @George-Codr @Aasyaco @Ansyso @plfj

# zipfile.Path
**/*zipfile/_path/*           @George-Codr @Aasyaco @Ansyso @plfj

# Argument Clinic
/Tools/clinic/**              @George-Codr @Aasyaco @Ansyso @plfj
/Lib/test/test_clinic.py      @George-Codr @Aasyaco @Ansyso @plfj
Doc/howto/clinic.rst          @George-Codr @Aasyaco @Ansyso @plfj

# Subinterpreters
**/*interpreteridobject.*     @George-Codr @Aasyaco @Ansyso @plfj
**/*crossinterp*              @George-Codr @Aasyaco @Ansyso @plfj
Lib/test/support/interpreters/  @George-Codr @Aasyaco @Ansyso @plfj
Modules/_interp*module.c      @George-Codr @Aasyaco @Ansyso @plfj
Lib/test/test_interpreters/   @George-Codr @Aasyaco @Ansyso @plfj

# Android
**/*Android*                  @George-Codr @Aasyaco @Ansyso @plfj
**/*android*                  @George-Codr @Aasyaco @Ansyso @plfj

# iOS (but not termios)
/**/iOS*                       @George-Codr @Aasyaco @Ansyso @plfj
/**/ios*                       @George-Codr @Aasyaco @Ansyso @plfj
**/*_iOS*                     @George-Codr @Aasyaco @Ansyso @plfj
**/*_ios*                     @George-Codr @Aasyaco @Ansyso @plfj
**/*-iOS*                     @George-Codr @Aasyaco @Ansyso @plfj
**/*-ios*                     @George-Codr @Aasyaco @Ansyso @plfj

# WebAssembly
/Tools/wasm/                  @George-Codr @Aasyaco @Ansyso @plfj

# SBOM
/Misc/externals.spdx.json     @George-Codr @Aasyaco @Ansyso @plfj
/Misc/sbom.spdx.json          @George-Codr @Aasyaco @Ansyso @plfj
/Tools/build/generate_sbom.py @George-Codr @Aasyaco @Ansyso @plfj

# Config Parser
Lib/configparser.py           @George-Codr @Aasyaco @Ansyso @plfj
Lib/test/test_configparser.py @George-Codr @Aasyaco @Ansyso @plfj

# Colorize
Lib/_colorize.py              @George-Codr @Aasyaco @Ansyso @plfj
Lib/test/test__colorize.py    @George-Codr @Aasyaco @Ansyso @plfj
