version: 2
updates:
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "weekly"
    open-pull-requests-limit: 5
    labels:
      - "skip issue"
      - "skip news"
    groups:
      github-actions:
        patterns:
          - "*"
    ignore:
      - dependency-name: "*"
        update-types:
          - "version-update:semver-minor"
          - "version-update:semver-patch"
  - package-ecosystem: "pip"
    directory: "/Tools/"
    schedule:
      interval: "weekly"
    open-pull-requests-limit: 5
    labels:
      - "skip issue"
      - "skip news"
    groups:
      python-dependencies:
        patterns:
          - "*"
